body {
  margin: 0;
  padding: 0;
  background-color: rgb(0, 0, 37);
}

#primeira img {
  border-radius: 20px;
  width: 100%;
  max-width: 200px;
  border: solid 2px white;
  margin: 0 10px 20px 20px;
  object-fit: cover; /* corta a imagem sem distorcer */
}

.container {
  padding: 40px; /* espaço interno */
}

section {
  background-color: #202020; /* fundo branco */
  width: 100%; /* ocupa toda a largura disponível */
  border-radius: 12px; /* deixa cantos arredondados */
  overflow: hidden; /* impede conteúdo de sair das bordas */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* sombra leve */
  transition: 0.3s; /* animações suaves */
  border: 2px solid #ffffff;
  color: #ffffff;
  margin-top: 35px;
}

#primeira {
  margin-top: 70px;
}

/* Efeito ao passar o mouse no card */
section:hover {
  transform: translateY(-5px); /* move o card levemente pra cima */
  box-shadow: 0 10px 25px rgba(203, 203, 203, 0.2); /* aumenta a sombra */
}

.card {
  display: flex;
  margin-top: 20px;
}

section p {
  margin: 0 15px 15px 15px; /* espaçamento (cima, direita, baixo, esquerda) */
  font-size: 20px; /* tamanho da fonte */
  text-align: justify; /* centraliza o texto */
}

section h2 {
  text-align: left;
  margin-left: 20px;
  margin-bottom: 15px;
}

table {
  width: 100%;
  max-width: 800px; /* controla o tamanho máximo */
  margin: 30px auto; /* centraliza na tela */
  border-collapse: collapse; /* junta as bordas */
  table-layout: fixed; /* 🔥 deixa todas colunas iguais */
  background-color: #111; /* fundo escuro */
  color: #e5e5e5;
  border: 1px solid #333;
}

/* Título da tabela */
caption {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

/* Cabeçalho */
th {
  background-color: #1a1a1a;
  font-weight: bold;
}

/* Células gerais */
th,
td {
  border: 1px solid #333;
  padding: 12px;
  text-align: center;
}

/* Texto não estoura */
td {
  overflow: hidden;
  text-overflow: ellipsis;
}

.card2 {
  display: flex;
  gap: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.texto-audio {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

audio {
  margin: 20px 0 0 20px;
  width: 100%;
  max-width: 530px;
}

img {
  border-radius: 20px;
  width: 100%;
  max-width: 200px;
  border: solid 2px white;
  margin: 0 0 20px 10px;
  object-fit: cover; /* corta a imagem sem distorcer */
}

a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
}

.link {
  position: relative;
  display: inline-block;
}

/* linha escondida */
.link::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -3px;

  width: 0;
  height: 2px;
  background-color: white;

  transform: translateX(-50%);
  transition: 0.3s;
}

/* efeito ao passar o mouse */
.link:hover::before {
  width: 100%;
}

li {
  margin-bottom: 10px;
}

footer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  align-items: center;
  color: #ffffff;
  font-size: 20px;
}
