@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* Criar um root - Urgente */

body {
    background-color: #0D0D0D;
    font-family: 'Cabin', sans-serif, Oswald;
    color: #E5E5E5;
    font-optical-sizing: auto;
}


header{
    width: 100%;
    background-color: #0d0d0d;
    color: #E5E5E5;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    padding: 20px;
    align-items: center;

}

header h2 {
    font-family: 'Cinzel', serif;
    font-weight: lighter;
}

a {
    text-decoration: none;
    color: #E5E5E5;
    font-family: "Roboto Condensed", sans-serif;;
    
}

.member{
    text-decoration: none;
    color: #E5E5E5;
    margin-left: 3rem;
    padding-bottom: 13px;
    border-bottom: 2px solid  #0d0d0d;
    transition: border-color 0.5s ease;
    
}

.member:hover{
    border-bottom: 2px solid #E5E5E5 ;
}

section#apresentation {
   background-image: url("../assets/imagens/felipeSobrevivente.png");
   background-position: top bottom;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover ;
   padding: 15rem 15rem 20rem 0;
  
}

div.slogan {
    font-size: 2rem;
    font-family: "Oswald", "Roboto", sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.text {
    font-size: 1.2rem;
    color: #E5E5E5;
}

span.name{
    color:  #E53326;
}


.topics {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.7rem;
    margin: 1rem 0 1rem 0;
    font-size: 1.2rem;
    font-weight: bold;
}

.topics::before, .topics::after {
    content: ""; 
    flex: 1;     
    height: 1px;
    background-color: #ccc;
   /* estudar melhor sobre */
}

.topics::after{
    margin-left: 1rem;
    margin-right: 5.6rem;

}

.topics::before{
    margin-right: 1rem;
    margin-left: 5.6rem;

}

span {
    font-size: 1.2rem;
    font-weight: bold;
}



main.biography{
    gap: 1.5rem;
    margin: 0 4rem 0 4rem;
    padding: 20px;
    background-color: #1A1B1D;
    border: 1px solid #E53326;
    border-radius: 3px;
    text-align: justify;

}

section{
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-items: center;
    align-items: center;

}

section p {
    font-size: 0.9rem;
    line-height: 1.2rem;
}


picture img{
    display: flex;
    justify-content: center;
    align-items: left;
    max-width: 100%;

}


/*------------------------------ Projetos ----------------------------------*/
main#projectsContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin-bottom: 7rem;
    

}

div.projectItem{
    background-color: #1A1B1D;
    margin: 1rem 2rem 1rem 2rem;
    padding: 3px 3px 10px 3px;
    border: 1px solid #E53326; 
    max-width: 300px;
    
}
/* criar uma tag propria pra n ficar zerando o main principal */

section.projectContent {
    display: flex;
    flex-direction: column;
    
}

section.projectContent h1{
    font-size: 1.5rem;
    margin: 1rem 0 2rem 0;

}


section.projectContent button{

    background-color: #1A1B1D;
    color: #E5E5E5;
    font-weight: bolder ;
    max-width: 5rem;
    margin-bottom: 1rem;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #E5E5E5;
    transition: 0.3s ease;
}

section.projectContent button:hover{
    background-color: #E5E5E5;
    color: #E53326;
    border-radius: 3px;
    transform: scale(1.2)
}

footer{
    background-image: url("/assets/imagens/footerImage.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: contrast(1.1);
    max-width: 100%;
    padding: 5rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
   
}

footer h2{
   padding-bottom: 5rem;
}

footer h2.members {
    grid-column: 1 / 2;
    text-align: center;

}

footer h2.social {
    grid-column: 2 / 2 ;
    text-align: center;
   
}


.navMembers{
    grid-column: 2 / 1;
    display: flex;
    align-items: top;
    justify-content: center;
    line-height: 2.9rem;
    font-size: 1.2rem;
   
}

.navMembers a{
    padding: 5px;
    border: 1px solid transparent ;
    transition: border-color 0.2s ease-in;
    
   
}

.navMembers a:hover{
    padding: 5px;
    border-bottom: 1px solid #E5E5E5
}


.navSocial{
    display: flex;
    justify-content: center;
    align-items: top;
}

.imgSocial {
    width: 4rem;
    margin-left: 1rem;
    filter: invert(100);
    
} 

.imgSocial:hover{
    transform: scale(1.2);
    
}








 