@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --backColor: #0d0d0d;
  --backColorItem: #1a1b1d;
  --secondBackColor: #7d0103;
  --secondBackColorItem: #e5e5e5;
  --fontColor: #e5e5e5;

  --fontFamily: "Cabin", Arial, Helvetica, sans-serif;
}

/* Keyframe simples de opacidade */
@keyframes letterOpacity1 {
  to {
    color: var(--secondBackColor);
  }
  from {
    color: transparent;
  }
}

@keyframes letterOpacity2 {
  to {
    color: var(--secondBackColorItem);
  }
  from {
    color: transparent;
  }
}

body {
  color: #e5e5e5;
  font-family: var(--fontFamily);
  background-color: var(--backColor);
}

.nav-list a::before{
  bottom: -8px;
}
/* Sobrescrevendo posição do css generico, já que o seletor universal dessa pagina está zerado */

#apresentation {
  background-image: url("/assets/imagens/image.png");
  background-repeat: no-repeat;
  background-position: center right;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  margin-bottom: 5rem;
}

.welcome {
  position: relative;
  top: 40%;

  font-size: 8rem;
  font-weight: bolder;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  text-align: center;
}

.text1 {
  color: transparent;
  animation: letterOpacity1 2s ease forwards;
  animation-delay: 0.4s;
}
.text2 {
  color: transparent;
  animation: letterOpacity2 2s ease forwards;
  animation-delay: 0.4s;
}

main {
  margin: 0 1rem 0 1rem;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: var(--fontColor);
  justify-content: center;
  align-items: center;
}

aside {
  background-color: var(--backColorItem);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin-right: 6px;
}

.titleTopic {
  margin-bottom: 10px;
  padding: 1rem;
}

aside img {
  max-width: 60%;
}

aside p {
  padding: 1rem;
  text-align: justify;
}

.conteinerStrengths {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  gap: 7px;
}

.strengths {
  background-color: var(--backColorItem);
  padding: 1rem 1rem 3rem 1rem;
}

.strengths h2 {
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  text-align: justify;
  margin-left: 10px;
  margin-bottom: 10px;
}

.topic {
  display: flex;
  align-items: center;
  margin: 2rem 0 2rem 1rem;
  width: 97.4%;
}

.topic::after {
  content: " ";
  flex: 1;
  height: 1px;
  background-color: #e5e5e5;
}
/* entender isso melhor */

.topic h1 {
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  padding-right: 1rem;
  margin-right: 0rem;
}

section.stacks {
  background-color: var(--backColorItem);
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  height: auto;
  border: 1px solid transparent;
  transition: border-color 0.2s ease;
  margin-bottom: 3rem;
}

section.stacks:hover {
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
}

.container-stack {
  width: 50px;
  height: auto;
  color: #555;
}

.icon {
  fill: currentColor;
  max-width: 100%;
  transition: transform 0.2s ease;
}
.iconHtml:hover {
  transform: translateY(-10px);
  color: #e34c26;
}

.iconCss:hover {
  transform: translateY(-10px);
  color: #264de4;
}

.iconGithub:hover {
  transform: translateY(-10px);
  color: #6e5494;
}

footer {
  background-image: url("/assets/imagens/footerImage.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  
  filter: contrast(1.1);
  max-width: 100%;
  height: 30rem;
  border-top: 1px solid #555;

  display: flex;
  align-items: center;
  justify-content: center;
}

table {
  width: 20rem;
}

table tr {
  text-align: center;
}

table tr td {
  padding: 10px;
}
