body {
  background-color: #09090b;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10'%3E%3Cline x1='0' y1='10' x2='10' y2='0' stroke='rgba(255,255,255,0.03)' stroke-width='0.3'/%3E%3C/svg%3E");
  background-repeat: repeat;
  background-attachment: fixed;
}

.DivPrincipal {
  min-height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


/* Ajustando MauricioLindo de acordo com Engenium */
.ajustMau{
  margin-top: 100px;
}

.Header {
  height: auto;
  width: auto;
  border: 1px solid #27272a;
  background-color: #09090b;
}

.Header:hover {
  border-color: #000000;
}

.Heade {
  display: flex;
  margin: 30px;
  height: 170px;
  width: 900px;
}

.Imagem {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Infos {
  margin-left: 40px;
  line-height: 0.8;
}

.Nome {
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
}

.Codigo {
  font-weight: bold;
  font-size: 35px;
  color: #3f3f46;
}

.areaS {
  display: flex;
  align-items: center;
  gap: 5px;
}

.soft {
  font-family: "JetBrains Mono", monospace;
  font-weight: 500;
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
  color: #a0a0a0;
}

.Sobre {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.4;
  color: #a0a0a0;
}

.AreaLinks {
  display: flex;
  align-items: center;
  gap: 25px;
  flex-direction: column;
  margin-left: 50px;
  height: 150px;
}

.tabs {
  width: 960px;
}

.tabs input {
  display: none;
}

.botoes {
  display: flex;
  margin-top: 30px;
  gap: 40px;
  margin-left: 18px;
}

.botoes label {
  cursor: pointer;
  color: #a1a1aa;
  font-family: monospace;
  font-size: 14px;
  padding-bottom: 7px;
  opacity: 60%;
}

.conteudo {
  display: none;
}

#about:checked ~ .conteudos .about {
  display: block;
}

#exp:checked ~ .conteudos .exp {
  display: block;
}

#proj:checked ~ .conteudos .proj {
  display: block;
}

#cont:checked ~ .conteudos .cont {
  display: block;
}

#about:checked ~ .botoes label[for="about"],
#exp:checked ~ .botoes label[for="exp"],
#cont:checked ~ .botoes label[for="cont"],
#proj:checked ~ .botoes label[for="proj"] {
  color: #52525b;
  border-bottom: 3px solid #000;
  opacity: 100%;
}

.botoes label:hover {
  color: #ffffff;
  opacity: 85%;
}

hr {
  border: none;
  height: 1px;
  background: rgba(255, 255, 255, 0.1);
  margin: 0px 0;
  opacity: 50%;
  width: 100%;
}

.hfin {
  margin-top: 18px;
  margin-bottom: 18px;
}

.ho {
  margin-bottom: 20px;
}

.abt {
  border: 1px solid #27272a;
  height: 100px;
  width: 650px;
  padding: 18px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 10px;
}

.Askills {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.skills {
  border: 1px solid #27272a;
  padding: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 11px;
  display: flex;
  align-items: center;
  gap: 1px;
}

.inf {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.til {
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-weight: 600;
  color: #ffffff;
  margin: 0;
}

.fac {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #a0a0a0;
}

.data {
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  color: #e5e7eb3f;
}

.corr {
  display: flex;
  gap: 10px;
  align-items: center;
}

.abtP {
  border: 1px solid #27272a;
  height: 100px;
  width: 225px;
  padding: 18px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 10px;
}

.fab {
  font-size: 15px;
}

.sp {
  font-size: 12px;
  color: #a0a0a0;
}

.cor {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.foot {
  display: flex;
  align-items: flex-start;
  width: 900px;
}
